<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="storage-account"
             value="DefaultEndpointsProtocol=https;AccountName=wtxqsopwyb;AccountKey=/qhrNOTfUnZStOep7CKS75/bxKNhQ9AkiOmAXkIRxhSgMNTbXjGr7/W0yGX+pe8g79brgk2l8znbNHRvpyMvrw==;EndpointSuffix=core.windows.net"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0"
                          sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>